.main {
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Praise&display=swap');
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.leftSide {
    width: 35%;
    background-color: #fffccc;
    background-image: url("Hope.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode:darken;
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative
}

.rightSide {
    width: 65%;
    display: flex;
    flex-direction: column;
    height: 100%
}

.logoArea {
    margin-top: 35vh;
    background-color: rgba(60,60,60,50%);
    height: 23%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    font-size: 5rem;
    font-family: 'Praise', cursive;

}

.logo img {
    height: 5rem;
    width: 5rem;
    position:relative;
    top: 1rem;
}

.signupMessage {
    height: 35%;
    background-color: #fffccc;
    font-size: 2.2rem;
    padding-left: 2rem;
    position: relative;
    overflow: auto;
}

.signupMessage p {
    width: 75%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.signupMessage .disclaimer {
    font-size: 0.6rem;
    position: absolute;
    bottom: 3px;
}

.signupForm {
    height: 35%;
    background-color: #fffef0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 2rem;
    overflow:auto;
}

.formInputs {
    display: flex;
    flex-direction: row;
    height: 70%
}

.formInputsLeft, .formInputsRight {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 40%;
    padding-right: 2rem;
    padding-left: 2rem;
    justify-content: left;
}

input {
    height: 1.2rem;
    width: 20rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

input:focus, input:hover {
    border-color: blue;
    border-width: 3px;
}

input:invalid {
    border-color: red;
}
input + span {
    position: relative;
}
input#email:invalid:not(:placeholder-shown) + span::before {
    content: "Please enter a valid email address";
    height: auto;
    width: auto;
    color: red;
    font-size: 0.8rem;
    position: absolute;
    top: -4.7rem;
    left: 7.4rem;
}

input#phoneNumber:invalid:not(:placeholder-shown) + span::before {
    content: "Numbers only";
    height: auto;
    width: auto;
    color: red;
    font-size: 0.8rem;
    position: absolute;
    top: -4rem;
    left: 7.9rem;
}

input#passwordConfirm:invalid:not(:placeholder-shown) + span::before {
    content: "passwords don't match";
    height: auto;
    width: auto;
    color: red;
    font-size: 0.8rem;
    position: absolute;
    top: -4rem;
    left: 9.5rem;
}

 input:placeholder-shown {
    border-color: initial;
}

.signupSubmit {
    height: 30%;
    background-color: #fffccc
}

.photoCredit {
    position: absolute;
    bottom: 5px;
    left: 5%;
    font-size: 1rem;
    background-color: rgba(60,60,200,40%);
}


.photoCredit a {
    color: black;
}

button {
    margin-top: 2rem;
    margin-left: 4rem;
    height: 3rem;
    width: 9rem;
    background-color: gold;
}

.signIn {
    margin-left: 4rem;
    font-size: 0.8rem;
}